*{
    margin: 0;
}
body{
    text-align: center;
    font-family: "Merriweather", serif;
}
.top-container{
    position: relative;
    background-color: #DBEDF3;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.pro {
    text-decoration: underline;
}
h1 {
    color: #2B3595;
    font-size: 5.625rem;
    font-family: "Sacramento", cursive;
}
h2 {
    color: #2B3595;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
.title-text{
    display: block;
    position: relative;
    top: 150px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.night-camp{
    margin-top: 250px;
}
.middle-container{
    margin: 100px 0;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
hr {
    border: dotted #DBEDF3 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.skill-row {
    width: 60%;
    margin: 80px auto 120px auto;
    text-align: left;
}
.skill-image{
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
}
h3{
    color: #2B3595;
}
.contact-me {
    width: 40%;
    margin: auto;
    margin-bottom: 100px;
}
.contact {
    margin-bottom: 50px;
}
p {
    color: #545454;
    font-size: 1rem;
    line-height: 2;
}
.btn{
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    color: #2B3595;
    font-size: 20px;
    background: #DBEDF3;
    padding: 12px 20px 12px 20px;
    text-decoration: none;
    margin-bottom: 500px;
}
.bottom-container {
    background-color: #DBEDF3;
    padding-top: 50px;
}
.footer-link {
    padding: 0 20px 50px 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #2B3595;
}
.copyright {
    padding: 30px 0 0 0;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    color: #2B3595;
}